/* Font Families*/
   @import url('fonts.css');

/* Bootstrap */
    /* @import url('bootstrap/bootstrap-grid.css');
    @import url('bootstrap/bootstrap-utilities.css'); */

    .nav-link {
        font-size: 1.3em;
        font-family: 'lora-italic';
    }

figcaption {
    padding: 3px;
    color: #a7a7a7;
    fill-opacity: 25%;
    text-align: center;
    background-color: rgb(253, 237, 239);
    font: italic smaller sans-serif;
    /* position: absolute;
    right: 1.1%;
    bottom: 1.5%; */
}

figcaption a {
    color: var(--bs-pink);
    text-decoration: none;
}

section:first-of-type {
    height: 30em;
    /* background-color: rgb(253, 237, 239); */
}

section:nth-of-type(2) {
    background-color: rgb(253, 237, 239);
}

section:first-of-type img {
    height: 75%;
    padding: 1%;
    background-color: rgb(253, 237, 239) ;
}

.hero {
    height: 100vh; /* Set the height to 100% of the viewport height */
    border: none; /* Remove the default border*/
  }

.hero figure > img {
    width: 100%; /* Make the image take 100% of the container's width */
    height: 100vh; /* Make the image take 100% of the container's height */
    object-fit: cover; /* Crop the image to cover the entire container, maintaining aspect ratio */
}

.title-bar {
    height: 25vh; /* Set the height to 20% of the viewport height */
    border: none; /* Remove the default border*/
  }
  
  .title-bar img {
    width: 100%; /* Make the image take 100% of the container's width */
    height: 100%; /* Make the image take 100% of the container's height */
    object-fit: cover; /* Crop the image to cover the entire container, maintaining aspect ratio */
  }

.page-title p:nth-of-type(1) {
    font-size: 5em;
    font-family: 'Mr De Haviland-regular';
}
.page-title p:nth-of-type(2) {
    font-size: 5em;
    text-transform: uppercase;
    font-family: 'lora-italic';
    line-height: 100%;
}

.fnt-lora-i {
    font-family: 'lora-italic';
}

.fnt-lora-r {
    font-family: 'lora-regular';
}

.fnt-mr-r {
    font-family: 'Mr De Haviland-regular';
}

.bg-pink {
    background-color: rgb(253, 237, 239);
}

.about-us span {
    font-size: larger;
    font-weight: bold;
    color: var(--bs-pink);
    font-size: 1.5rem !important;
    padding-right: 0.25rem !important;
    font-family: 'Mr De Haviland-regular';
}

.pricing-1-header {
    background-size: cover;
    background-position: 0%;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
    background-image:url('../images/pricing/1.jpg'); /* Image by <a href="https://pixabay.com/users/alexas_fotos-686414/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3693269">Alexa</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3693269">Pixabay</a> */
}

.pricing-2-header {
    background-size: cover;
    background-position: 0%;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
    background-image:url('../images/pricing/2.jpg'); /* Image by <a href="https://pixabay.com/users/van3ssa_-13670757/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=6066245">Desiré 🙏 Dazzy 🎹🎶 K-e-k-u-l-é</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=6066245">Pixabay</a> */
}

.pricing-3-header {
    background-size: cover;
    background-position: 0%;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
    background-image:url('../images/pricing/3.jpg'); /* Image by <a href="https://pixabay.com/users/johnyvid-6243568/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8544741">JohnyVid</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8544741">Pixabay</a> */
}